/*general*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-dark-color: #141922;
    --color-dark-grey: #282828;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #717171;
    --color-light-grey: #c1c1c1;
    --color-highlight: #adff2f;
}

.padding-sidebar{
    padding: 20px;
}

.padding-left{
    padding-left: 20px;
}

.margine-top{
    margin-top: 15px;
}

ul{
    list-style: none;
}

.debug{
    border: 1px solid white;
}

.wrapper{
    width: 100%;
    height: 100vh;
}

.main-page{
    width: 100%;
    height: calc(100% - 90px);
}

.playbar{
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--color-dark-grey);
}

.side-bar{
    width: 250px;
    background-color: var(--color-black);
}

.content-page{
    width: calc(100% - 250px);
    background-color: var(--color-dark-color);
}

.call-to-action{
    width: calc(100% - 250px);
    height: 90px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #282828;
}

/*colori testo ecc...*/

.text-white{
    color: white;
}

.border-green{
    border-left: 2px solid var(--color-highlight);
}

.border-bottom-grey{
    border-bottom: 1px solid var(--color-grey);
}

/* utility flex */

.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.flex-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*sidebar*/

.logo{
    width: 80%;
    padding: 20px;
}

.side-bar-icon{
    width: 30px;
    height: 30px;
}

.add-playlist{
    width: 40px;
    height: 40px;
    background-color: var(--color-light-grey);
    text-align: center;
    line-height: 40px;
    font-size: 40px;
    font-weight: 600;
}

.download-img{
    width: 20px;
    height: 20px;
}

.profile-img{
    width: 25px;
    height: 25px;
    background-color: var(--color-grey);
    border-radius: 50%;
}