/*general*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

:root {
    --color-dark-color: #141922;
    --color-dark-grey: #282828;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #717171;
    --color-light-grey: #c1c1c1;
    --color-highlight: #adff2f;
}

.none{
    display: none;
}

.padding-section{
    padding: 15px;
}

.padding-sidebar{
    padding: 20px;
}

.padding-right{
    padding-right: 20px;
}

.padding-left{
    padding-left: 20px;
}

.margine-top{
    margin-top: 15px;
}

ul{
    list-style: none;
}

.debug{
    border: 1px solid white;
}

.wrapper{
    width: 100%;
    height: 100vh;
}

.main-page{
    width: 100%;
    height: calc(100% - 90px);
}

.playbar{
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--color-dark-grey);
}

.side-bar{
    width: 250px;
    background-color: var(--color-black);
    overflow: hidden;
}

.content-page{
    width: calc(100% - 250px);
    background-color: var(--color-dark-color);
    padding-top: 120px;
    overflow-y: auto;
}

.call-to-action{
    width: calc(100% - 250px);
    height: 90px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #0000004f;
}

/*colori testo ecc...*/

.text-white{
    color: white;
}

.text-grey{
    color: var(--color-light-grey);
}

.border-green{
    border-left: 0px solid var(--color-highlight);
    display: none;
}

.border-bottom-grey{
    border-bottom: 1px solid var(--color-grey);
}

.text-center{
    text-align: center;
}

/* utility flex */

.flex-wrap{
    display: flex;
    /*justify-content: space-between;*/
    flex-flow: row wrap;
    gap: 15px;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}

.gap15{
    gap: 15px;
}

.justify-center{
    justify-content: center;
}

.d-flex{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.align-center{
    align-items: center;
}

.flex-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*sidebar*/

.logo{
    width: 80%;
    padding: 20px;
}

.side-bar-icon{
    width: 30px;
    height: 30px;
}

.add-playlist{
    width: 40px;
    height: 40px;
    background-color: var(--color-light-grey);
    text-align: center;
    line-height: 40px;
    font-size: 40px;
    font-weight: 600;
}

.download-img{
    width: 20px;
    height: 20px;
}

.profile-img{
    width: 25px;
    height: 25px;
    background-color: var(--color-grey);
    border-radius: 50%;
}

/*call to action*/

.upgrade-button{
    border: 1px solid var(--color-white);
    color: var(--color-white);
    border-radius: 30px;
    padding: 10px;
    margin-right: 20px;
}

/* main content */

/*nav sopra*/

.font-nav{
    font-size: 15px;
    color: var(--color-grey);
    font-weight: 600;
}

/* album */

.card-container{
    /*padding: 15px;*/
}

.card{
    width: calc(100% / 6 - 15px);
}

.album{
    width: 100%;
}

section h2{
    margin-top: 40px;
    margin-bottom: 40px;
}

.card-rounded{
    border-radius: 50%;
    text-align: center;
}


/*playbar*/

.sx{
    width: 250px;
}

.dx{
    width: 250px;
}

.playbar-img{
    width: 45px;
    height: 45px;
}

.song-name{
    font-size: 13px;
}

.padding-song{
    padding-left: 10px;
}

.playbar-icon{
    font-size: 20px;
}

.playbar-play{
    font-size: 30px;
}

.barra1{
    width: 400px;
    height: 4px;
    background: var(--color-grey);
    cursor: pointer;
    accent-color: var(--color-white);
    overflow: hidden;
}

.barra2{
    background: var(--color-grey);
    cursor: pointer;
    accent-color: var(--color-white);
    height: 4px;
    overflow: hidden;
}

/*hover e active*/

.border-green:hover{
    transition: 0.8s;
    border-left: 2px solid var(--color-highlight);
    cursor: pointer;
}

.add-playlist:hover{
    transition: 1s;
    background-color: white;
    scale: 1.2;
    cursor: pointer;
}

.nome-playlist li:hover{
    scale: 1.1;
    transition: 0.8s;
    text-decoration: underline;
    cursor: pointer;
}

.div-green{
    margin: 0 auto;
    width: 60%;
    height: 2px;
    background-color: #adff2f;
}

/* MEDIA QUERY */

@media screen and (max-width: 1200px){
    .card{
        width: calc(100% / 4 - 15px);
    }
}

@media screen and (max-width: 768px){
    .nav-top ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    .card{
        width: calc(100% / 2 - 15px);
    }

    *{
        font-size: 13px;
    }

    .barra1{
        width: 200px;
    }

    .barra2{
        width: 70px;
    }
}

@media screen and (max-width: 576px){
    .side-bar{
        width: 90px;
    }

    .content-page{
        width: calc(100% - 90px);
    }

    .call-to-action{
        width: calc(100% - 90px);
    }

    .scomparisci{
        display: none;
    }

    .flex-sidebar{
        align-items: center;
    }

    .none{
        display: block;
        width: 100%;
    }

    .barra1{
        width: 100px;
    }

    .barra2{
        width: 30px;
    }

    .playbar-icon{
        font-size: 12px;
    }

    .playbar-play{
        font-size: 16px;
    }

    #barra-numeri{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-height: 720px){
    .side-bar{
        overflow-y: auto;
    }
}